
:root {
    /****Color palete****/
    --primary-color: #202030;
    --secondary-color: #F7F7FF;
    --accent1-color: #FDCA40;
    --accent2-color: #17bebb;

    /****Typography****/
    --heading-font: 'DM Serif Display', serif;
    --paragraph-font: 'PT Serif', serif;
}

*{  
    max-width: 1024px;
    margin: auto;
    padding: 0;
    box-sizing: 0;
    background-color: var(--primary-color);
}

#content {
    margin-left: 30px;
    margin-right: 30px;
    color: var(--secondary-color);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 150px;
    font-family: var(--paragraph-font);
}

#mode {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent; 
    font-size: 1.8rem;
    cursor: pointer;
}

.logo {
    margin-left: 15px;
    padding: 10px 10px 10px 10px;
}

.nav-list {
    display:flex;
    justify-content: right;
    gap: 2rem; 
    padding: 10px;
    font-size: 20px;
}

ul a:link {
    text-decoration: none;
}

ul {
    list-style: none;
}

a {
    color: var(--secondary-color);
}

.nav-list a:hover {
    text-decoration-color: black;
    background-color: var(--accent1-color);
    box-shadow: var(--accent1-color) 0px 0px 10px 2px;
    color: var(--primary-color);
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
}

.join-search {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

#join {
    background-color: var(--accent1-color);
    border: 2px solid var(--accent2-color);
    border-radius: 5px;
    padding: 6px;
    margin-right: 30px;
    font-size: larger;
}

#join a {
    color: var(--primary-color);
}

#join a:link {
    text-decoration: none;
}

#join:hover {
    font-size: 1.5rem;
    transition: 0.5s;
    box-shadow: var(--accent1-color) 0px 0px 10px 2px;
}

input[type="text"] {
    background-color: var(--secondary-color);
    color: black;
}

input {
    border: 3px solid var(--accent2-color);
    border-radius: 5px;
    font-size: 20px;
    padding: 8px 1px;
}

input:focus {
    background-color: var(--accent1-color);
    transition: 0.5s;
}

form #btn {
    border-color: var(--accent1-color);
    border-radius: 50px;
    background-color: transparent;
    overflow: hidden;
    position: absolute;
   
}

img {
    background-color: transparent;
}

hr{
    border: 1px solid var(--accent2-color);
}

main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
    margin-top: -3rem;
    margin-left: 15px;
    margin-right: 15px;
}

.hero-image img {
    width: 100%;
    height: auto;
}

.herolabel {
    position: relative;
    bottom: 60px; 
    left: 15px;  
    width: 110px; 
    background: radial-gradient(var(--secondary-color),rgb(56, 107, 202)) ;
    border: 1px solid black;
    border-radius: 5px;
    padding: .08rem;
    padding-left: 14px;
    opacity: 0.90;
}

.small-view, .medium-view, .large-view{
    text-align: center;
    justify-content: center;
    padding-bottom: 10px;
    color: var(--primary-color);
    font-weight: bolder;
	font-size: 1.2rem;
	font-family: var(--paragraph-font);
    background-color: transparent;
}

h1{
    font-family: var(--heading-font);
    background-color: transparent;
    color: black;
}
.news {
    grid-column: 1/4;
    grid-row: 2/4;
    margin: 0;
    background-color: var(--secondary-color);
    text-align: center;
}

.news-paragraph {
    font-family: var(--paragraph-font);
    font-size: 14px;
    color: black;
    background-color: var(--secondary-color);
    margin-left: 8px;
    margin-right: 8px;
    text-align: justify;
    align-content: center;   
}

.weather {
    grid-column: 1/4;
    grid-row: 4/5;
    margin: 0;
    color: black;
    background-color: var(--secondary-color);
    opacity: .9;
    border: 1px solid var(--accent2-color);
    box-shadow: var(--accent2-color) 0px 0px 5px 1px;
    text-align: center;
    justify-content: center;
}

.weather img {
    margin-bottom: -18px;
}
.weather h1 {
    text-align: center;
    justify-content: center;
    margin-bottom: 0;
}

.weather p {
    background-color: transparent; 
    text-align: center;
    justify-content: center;  
}

span {
    background-color: transparent;
}

h2 {
    font-family: var(--heading-font);
}
.spotlights {
    grid-column: 4/7;
    grid-row: 2/5;
    width: 100%;
    text-align: center;
    justify-content: space-evenly;
}

.card {
    font-family: var(--paragraph-font);
    height: 170px;
    border: 1px solid var(--accent2-color);
    background-color: var(--secondary-color);
    text-align: center;
    margin-top: 5px;
    box-shadow: var(--accent2-color) 0px 0px 5px 1px;
}

.title {
    text-align: center;
    font-size: 20px;
}

.card-contact{ 
    text-align: center;
    color: var(--accent1-color);
}

.spot-1, .spot-2, .spot-3 {
    background-color: transparent;

}

.spot-1, .spot-2, .spot-3, p{
    padding-top: 10px;
    padding-right: 10px;
    text-align: right;
}

.spot-1 {
    grid-row: 2/3;
}

.spot-2 {
    grid-row: 3/4;
}

.spot-3 {
    grid-row: 4/5;
}

footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin: 15px 0;
    padding: 10px 5px;
    font-family: var(--paragraph-font);
    height: 100px;
    border: 1px solid var(--accent2-color);
    text-align:center; 
}

.copyright { 
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
    padding-top: 15px;
    color: var(--accent1-color);
}

.social {
    grid-column: 2/3;
    text-align: right;
    padding-top: 35px;
}

.social img {
    padding-left: 25px;
    size:2rem;
}

.info {
    grid-column: 3/4;
    grid-row: 1/2;
    font-family: var(--paragraph-font);
    color: var(--accent1-color);
    font-size: small;
    text-align: center;
    justify-content: center;
    margin: 10px auto;
}

/*----------Discover layout----------*/
.visits {
    font-family: var(--paragraph-font);
    font-size: 20px;
    border: 4px solid var(--accent1-color);
    border-radius: 40px;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-top: 0;
    margin-bottom: 50px;
    width: 75%;
}

.visits p {
    text-align: center;
    margin: 0px 10px 10px 10px;
}
.hero-img-discover img {
    margin-bottom: -30px;
}

.main-discover {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem;
    font-family: var(--paragraph-font);
}

li{
    color: var(--accent1-color);
    margin-bottom:-10px;
    font-size: 1.2rem;
}

.images {
    grid-column: 2/3;
    grid-row: 1/5;
    text-align: center;
}

.d-img{
    width: 100%;
    padding-top: 15px;
}

.title-discover { 
    text-align: center;
    font-family: var(--heading-font);
    font-size: 1.5rem;
}
.main-discover-paragraph {
    text-align: left;
    margin-bottom: 20px;
}

.div-discover1 {
    grid-row: 1/2;
}

.div-discover2 {
    grid-row: 2/3;
}

.div-discover3 {
    grid-row: 3/4;
}

.div-discover4 {
    grid-row: 4/5;
}

.div-discover5 {
    grid-row: 5/6;
}

.calendar {
    color: var(--primary-color);
    background-color: var(--accent1-color);
}

.attraction-link {
   text-decoration: none;
}

.attraction-link:hover {
    color: var(--accent1-color);
    font-size: 1.02rem;
    border: 1px solid var(--accent2-color);
    border-radius: 5px;
    padding: 0.3rem;
}

.main-discover .images {
    background: var(--primary-color);
    animation: fade 10s;
}

@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.img1:hover {
    border-radius: 70px 250px;
}

.img2:hover {
    filter: grayscale(100%);
}

.img3:hover {
    rotate: -30deg;
}

.img4:hover {
    filter:sepia();
}
.img5:hover {
    filter: opacity(.75);
}

.img6:hover {
    border-radius: 160px 160px 160px 160px;
}

/*---------------- JOIN PAGE LAYOUT ----------------*/

form {
    grid-column: 1/7;
    width: 50%;
    margin: auto;  
}

form .form-title {
    text-align: center;
    font-family: var(--heading-font);
    color: var(--accent2-color);
    font-weight: none;
}

form fieldset {
    width: 80%;
    margin: auto;
    border: 2px solid var(--accent1-color);
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: var(--accent1-color);
    font-family: var(--paragraph-font);
    font-size: 1.15rem;
    margin: 0 1rem;
    padding: .5rem;
}

form label.top{
    display: block;
    padding-top: 1.8rem;
    font-size: 1.3rem;
    color: var(--secondary-color);
}

form label.top input, form label.top-level select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: 1px solid var(--accent2-color);
    border-radius: 4px;
    padding: .70rem;
    color: var(--primary-color);
    width: 100%;
    max-width: 15rem;
    background-color: var(--secondary-color);
}

form label.top-level select option {
    background: var(--secondary-color);
    color: var(--primary-color);
}

form label.top-level select:hover {
    background: var(--accent1-color);
}

form label.top input::placeholder { 
    color: var(--primary-color);
}

textarea {
    margin-top: 2px;
    margin-left: 5px;
    border: 1px solid var(--accent2-color);
    border-radius: 5px;
    font-size: 1.2rem;
    font-family: var(--paragraph-font);
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

textarea:hover, form label.top input:hover{
    background-color: var(--accent1-color);
    
}

form .levels {
    padding: .75rem;
    margin: 0;
}

form input.submitBtn {
    text-align: center;
    font-weight: bolder;
    justify-content: center;
    border: none;
    background-color: var(--accent1-color);
    color: var(--primary-color);
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 1rem auto;
    width: 75%;
    max-width: 18rem;
}

/*--------------THANK YOU LAYOUT PAGE-----------------*/
.main-thankyou-page {
    grid-column: 2/6;
    text-align: center;
}

.thanks-title {
    font-family: var(--heading-font);
    font-size: 3rem;
    color: var(--accent1-color);
}

.thanks-para {
    text-align: center;
    font-family: var(--paragraph-font);
    font-size: 1.5rem;
}

/*--------------DIRECTORY LAYOUT PAGE-----------------*/

main #members-card{
    grid-column: 1/7;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    
}

#members-card {
    background-color: var(--accent2-color);
    padding: 10px;
}

#members-card section {
    border: 1px solid var(--primary-color);
    border-radius: 3px;
    margin: 0.25rem;
    padding: 0.35rem;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#members-card h2 {
    padding: 5px 0;
    font-family: var(--paragraph-font);
    color: var(--accent1-color);
    background-color: transparent;
}

#members-card img {
    width: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

#members-card p {
    text-align: center;
    justify-content: center;
    margin-bottom: 5px;
    font-family: var(--paragraph-font);
    font-size: 15px;
    background-color: transparent;
    opacity: .4px;
    color: var(--secondary-color);
}
