* {
    margin: 0;
    padding: 0;
}


/*------------ mobile view ------------*/
@media screen and (min-width: 330px) {
    header {
        display: flex;
	    align-items: center;
	    justify-content: center;
        margin:auto;
    }

    header h1{
        font-size: 1.9rem;
        padding: .1rem;
    }

    .potho {
        justify-items: center;
        align-content: center;
        margin-left: auto;
    }

    .name {
        margin: auto;
        margin-left: 0;
    }

    nav a {
        display:block;
        text-align: center;
        text-decoration: none;
    }

    .links {
        display: none;
    }

    .nav {
        padding-top: 0;
        padding-bottom: 0;
        border: 1px solid transparent;
    }

    .herolabel {
        top: 180px;
        left: 50px;
        padding: 0.1rem;
        opacity: 0.75;
    }

    .herolabel p{
        font-size: 1rem;  
    }

    h2 {
        font-size: 1.1rem;
        padding-top: 12px;
        padding-bottom: 0;
    }

    ol {
      font-size: 90%;
    }

    h3 {
        font-size: medium;
    }

    .info-paragraph {
        font-size: 15px;
    }

    footer {
        padding-bottom: 15px;
    }
    
    #menu {
        font-size: 1.3rem;
        border: 1px solid rgba(0,0,0,.7);
        border-radius: 5px;
        padding: 6px 6px;
        margin-top: -60px;
        margin-right: 35px;
        background-color: #eee;
        color: #000;
        position: absolute;
        right: 1rem;
    }
    
    #menu::before {
        content: "☰";
    }
    
    #menu.open::before {
        content: "✘";
    }

    .open .links {
        display: block;
        width: 100%;
    }
    .open .links {
        display: block;
    }

}

/*------------ medium view ------------*/
@media screen and (min-width: 520px) {
    header h1 {
         font-size: 2.5rem;
    }
    .links {
        font-size: 1.5rem;
    }

    .herolabel p{
        font-size: 1.8rem;  
    }

    h2 {
        font-size: 1.3rem;
    }

    ol {
        font-size: 1rem;
      }

      h3 {
        font-size: 1.2rem;
    }

    footer {
        padding-bottom: 15px;
    }
    
}

/*------------ larger view ------------*/
@media screen and (min-width: 720px) {

    #menu {
        display: none;
    }

    header h1 {
        font-size: 3rem;
    }
    nav ul{
        display:flex;
        text-align: center;
        justify-content: space-evenly;
        
    }

    .nav {
        padding-top: 0;
        padding-bottom: 0;
    }

    .links {
        font-size: 1.5rem;
        display: flex;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .herolabel {
        position: absolute;
        top: 230px;
        left: 100px;
        background: radial-gradient(#fff, #0f2585) ;
        border: 1px solid black;
        border-radius: 5px;
        padding: 1.5rem;
        opacity: 0.75;
    }
    
    .herolabel p{
        margin: 0;
        padding: .20rem;
        font-weight: 700;
        font-size: 2.2rem;
        font-family:'Dancing Script', cursive;;
    }

    h2 {
        font-size: 1.5rem;
        text-align: left;
        margin-left: 50px;
    }

    .card1, .card2 {
        box-shadow:0px 0px 8px 1px rgb(54, 57, 250);
    }
    .card1 {
        grid-column: 1/5;
        margin-right: 0;
        margin-top: 0;
    }

    .card2 {
        grid-column: 5/7;
        grid-row: 2/5;
        margin-left: 0;
    }

    .info-paragraph {
        margin-top: 20px;
        font-size: 20px;
    }

    footer {
        font-size: 1.2rem;
    }

    #footer-last-modif { 
        padding-bottom: 15px;
    }

    .copyright, #footer-last-modif {
        grid-column: 1/-1;
    }
}